<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-team_59/blob/main/Act1_Limpieza_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Semana 3 - Actividad 1*


###*Andrea Margarita Osorio González*
####*A01104776*

###*Fernando Alfredo Rojas Estrella*
####*A01685424*

###*Ciencia y analítica de datos (Gpo 10)*

###*Jobish Vallikavungal Devassia & Orlando Figón Cruz*

###*4 de Octubre de 2022*


---


**Parte 1:** Las bases de datos (BD) son bancos de información, colecciones o listas que se encargan de almacenar diferentes tipos de datos y conectarlos entre sí bajo una unidad de organización lógica. Está información se puede recopilar desde diferentes orígenes, puede ser compartida y consultada por diferentes aplicaciones o softwares.
Para la ciencia de datos la información almacenada en las bases de datos sirve para realizar análisis de información que posibilita la toma de decisiones. Para lograr el análisis de información basado en datos, se debe seguir un proceso iterativo de ciencia de datos:

1.	Definición del problema
2.	Recolección de datos y preparación
3.	Desarrollo e implementación de un modelo
4.	Mejora del rendimiento

Las BD deben pasar por un proceso de limpieza y pre-procesamiento exhaustivo en el que intervienen los científicos de datos para conseguir un conjunto de datos de calidad, con información relevante, validada y que modele de forma correcta un comportamiento real, permitiendo la obtención de los mejores resultados al utilizar estos datos en un modelo.
El preprocesamiento de forma resumida consiste en transformar datos incomprensibles en comprensibles, en darle sentido a datos con discrepancias o errores y en llevar a cabo la limpieza, transformación y reducción de datos.
Por otro lado, los almacenes de datos o Data Warehouse para ciencia de datos se caracterizan por ser un depósito centralizado de la información a analizar que en general son accedidos mediante softwares de inteligencia empresarial, otras fuentes de BD y otras aplicaciones.


---


**Parte 3: Preparación de los datos**
1.	¿Qué datos considero más importantes? ¿Por qué?
Todos los datos con valores son importantes porque mejoran la calidad para el análisis y así se asegura el tener un análisis adecuado, sin embargo los datos relevantes siempre dependerán de las necesidades del análisis.


2.	¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?
En la primera parte se muestra un ejercicio en donde se eliminaron porque los datos nulos no nos sirven para hacer análisis de información tan fidedigna
En la segunda parte se reemplazaron los valores de acuerdo con la moda.
Esto con el objetivo de evitar resultados sesgados o conclusiones invalidas.


3.	¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?
Si para tener una mejor visión de los datos y poder analizarlos con un mejor entendimiento y permite una mejor capacidad de respuesta y un análisis efectivo.


4.	¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.
Si, se debe hacer una limpieza efectiva, transformación y reducción de datos faltantes  para mejorar el desempeño del proceso y contar con datos de calidad que permitan tomar decisiones más informadas y poder realizar el modelado correctamente.


5.	¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?
•	Revisión de datos nulos
•	Eliminar columnas 
•	Llenar/modificar valores
•	Cambiar nombres de columnas

**Parte 2**

Importación de librerías necesarias para la limpieza de datos

In [ ]:
import numpy as np
import pandas as pd

Se realiza la importación de la BD "default of credit card clients" y se muestra un extracto de la data.

In [ ]:
mypath = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

data = pd.read_csv(mypath, sep=",", header='infer')

print(data.shape)
data.head()

(30000, 25)

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

Warning: Total number of columns (25) exceeds max_columns (20) limiting to first (20) columns.

Se realiza una revisión de la descripción de la BD que se encuentra en la siguiente liga: https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt 

Con esta información identificamos las variables Categóricas y Numéricas:

* X1: Monto del crédito otorgado (dólar NT), incluye tanto el crédito de consumo individual como su crédito familiar (complementario).
* X2: Sexo (1 = hombre; 2 = mujer).
* X3: Educación (1 = posgrado; 2 = universidad; 3 = secundaria; 4 = otros).
* X4: Estado civil (1 = casado; 2 = soltero; 3 = otros).
* X5: Edad (año).

X6 - X11: Historial de pagos pasados a partir del seguimiento de los registros de pagos mensuales pasados ​​de abril a septiembre del 2005.
* X6 = Estado de pago en septiembre de 2005.
* X7 = El estado de pago en agosto de 2005.
* X8 = El estado de pago en julio de 2005.
* X9 = El estado de pago en junio de 2005.
* X10 = El estado de pago en mayo de 2005.
* X11 = Estado de amortización en abril de 2005 (escala de medición del estado de amortización es: -1 = pagar debidamente; 1 = retraso en el pago de un mes; 2 = retraso en el pago de dos meses; . . .; 8 = retraso en el pago de ocho meses; 9 = retraso en el pago de nueve meses o más).

X12-X17: Importe del estado de cuenta (dólar NT).
* X12 = monto del estado de cuenta en septiembre de 2005.
* X13 = monto del estado de cuenta en agosto de 2005.
* X17 = monto del estado de cuenta en abril de 2005.

X18-X23: Monto del pago anterior (dólar NT).
* X18 = monto pagado en septiembre de 2005.
* X19 = monto pagado en agosto de 2005.
* X20 = monto pagado en julio de 2005.
* X21 = monto pagado en junio de 2005.
* X22 = monto pagado en mayo de 2005.
* X23 = monto pagado en abril de 2005.


Se puede observar que de las 23 variables de entrada, 4 son categóricas y 19 son numéricas. La última columna es la variable binaria de salida (Y) que nos indica probabilidad real de incumplimiento. La variable binaria fue incumplimiento en el pago (Sí = 1; No = 0).

Variables categóricas:
**X2**: Sexo (1 = hombre; 2 = mujer), **X3**: Educación (1 = posgrado; 2 = universidad; 3 = secundaria; 4 = otros), **X4**: Estado civil (1 = casado; 2 = soltero; 3 = otros), **X11** = Estado de amortización en abril de 2005 (escala de medición del estado de amortización es: -1 = pagar debidamente; 1 = retraso en el pago de un mes; 2 = retraso en el pago de dos meses; . . .; 8 = retraso en el pago de ocho meses; 9 = retraso en el pago de nueve meses o más)


---

A continuación procedemos a hacer la revisión de frecuencia de las variables categoricas.

In [ ]:
# Inspección de valores categóricos:

print('Data de la columna X2  (1 = hombre; 2 = mujer):\n',data['X2'].value_counts())
print('\n')
print('Data de la columna X3 (1 = hombre; 2 = mujer):\n',data['X3'].value_counts())
print('\n')
print('Data de la columna X4 (1 = casado; 2 = soltero; 3 = otros):\n',data['X4'].value_counts())
print('\n')
print('Data de la columna X11 (-1 = pagar debidamente; 1 = retraso en el pago de un mes . . .; 9 = retraso en el pago de 9 meses o +):\n',data['X11'].value_counts())
print('\n')

# % de información menor al 5%
print('El 5% de total de datos es:',0.05*30000)

Data de la columna X2 (Sí = 1; No = 0):
 2.0    18112
1.0    11887
Name: X2, dtype: int64


Data de la columna X3 (1 = hombre; 2 = mujer):
 2.0    14030
1.0    10585
3.0     4915
5.0      280
4.0      123
6.0       51
0.0       14
Name: X3, dtype: int64


Data de la columna X4 (1 = casado; 2 = soltero; 3 = otros):
 2.0    15964
1.0    13657
3.0      323
0.0       54
Name: X4, dtype: int64


Data de la columna X11 (-1 = pagar debidamente; 1 = retraso en el pago de un mes . . .; 9 = retraso en el pago de 9 meses o +):
  0.0    16278
-1.0     5735
-2.0     4895
 2.0     2765
 3.0      184
 4.0       49
 7.0       46
 6.0       19
 5.0       13
 8.0        2
Name: X11, dtype: int64


El 5% de total de datos es: 1500.0

Comprobamos si existen nulos de información y que columnas los tienen

In [ ]:
print('Existen nulos:',data.isnull().values.any())
print('\n')
data.isnull().any()

Existen nulos: True

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

Para poder realizar una simplificación en el análisis de preparación de los datos y después de observar que que varios de los niveles de las variables categóricas tienen muy bajas frecuencias (menores al %5 de la muestra total), agruparemos los niveles más bajos.

In [ ]:
data['X3'] = data['X3'].map({2:2,1:1,3:0,4:0,5:0,6:0,0:0})
data['X4'] = data['X4'].map({1:1,2:2,3:0,0:3})
data['X11'] = data['X11'].map({-1:-1,2:2,3:0,4:0,5:0,6:0,7:0,8:0,0:0})

In [ ]:
# Inspeccionamos nuevamente los valores categóricos:

print('Data de la columna X2  (1 = hombre; 2 = mujer):\n',data['X2'].value_counts())
print('\n')
print('Data de la columna X3 (1 = hombre; 2 = mujer):\n',data['X3'].value_counts())
print('\n')
print('Data de la columna X4 (1 = casado; 2 = soltero; 3 = otros):\n',data['X4'].value_counts())
print('\n')
print('Data de la columna X11 (-1 = pagar debidamente; 1 = retraso en el pago de un mes . . .; 9 = retraso en el pago de 9 meses o +):\n',data['X11'].value_counts())
print('\n')

# % de información menor al 5%
print('El 5% de total de datos es:',0.05*30000)

Data de la columna X2  (1 = hombre; 2 = mujer):
 2.0    18112
1.0    11887
Name: X2, dtype: int64


Data de la columna X3 (1 = hombre; 2 = mujer):
 2.0    14030
1.0    10585
0.0     5383
Name: X3, dtype: int64


Data de la columna X4 (1 = casado; 2 = soltero; 3 = otros):
 2.0    15964
1.0    13657
0.0      323
3.0       54
Name: X4, dtype: int64


Data de la columna X11 (-1 = pagar debidamente; 1 = retraso en el pago de un mes . . .; 9 = retraso en el pago de 9 meses o +):
  0.0    16591
-1.0     5735
 2.0     2765
Name: X11, dtype: int64


El 5% de total de datos es: 1500.0

Obtenemos la descripción de la distribución de información de cada variable de la BD

In [ ]:
data.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.288253,1.525002,35.483967,-0.016633,-0.133667,-0.166367,-0.220733,...,43263.540500,40311.904067,38873.869033,5661.995767,5.921315e+03,5224.70990,4826.032533,4799.087100,5215.640600,0.221189
std,8660.398374,129747.661567,0.489125,0.751048,0.523946,9.217276,1.123773,1.197155,1.195911,1.168983,...,64331.690439,60795.051774,59552.714581,16562.058487,2.304082e+04,17606.16345,15666.008524,15278.170888,17777.431407,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2332.000000,1769.500000,1258.500000,1000.000000,8.360000e+02,390.00000,298.000000,254.750000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,1.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50177.000000,49198.250000,5006.000000,5.000000e+03,4504.25000,4013.000000,4031.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,2.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

Con el ejercicio anterior se puede ver que existen variables sesgadas.

Ahora se realizará la limpieza de las variables numéricas:

X1, X5, X6, X7, X8, X9, X10, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23

Revisamos el porcentaje de nulos por variable numérica

In [ ]:
# X1, X5, X6, X7, X8, X9, X10, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23
print('Porcentaje de nulos en la variable X1: %.3f' % (100*data['X1'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X5: %.3f' % (100*data['X5'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X6: %.3f' % (100*data['X6'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X7: %.3f' % (100*data['X7'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X8: %.3f' % (100*data['X8'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X9: %.3f' % (100*data['X9'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X10: %.3f' % (100*data['X10'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X12: %.3f' % (100*data['X12'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X13: %.3f' % (100*data['X13'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X14: %.3f' % (100*data['X14'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X15: %.3f' % (100*data['X15'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X16: %.3f' % (100*data['X16'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X17: %.3f' % (100*data['X17'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X18: %.3f' % (100*data['X18'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X19: %.3f' % (100*data['X19'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X20: %.3f' % (100*data['X20'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X21: %.3f' % (100*data['X21'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X22: %.3f' % (100*data['X22'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X23: %.3f' % (100*data['X23'].isnull().sum()/data['ID'].count()) )

Porcentaje de nulos en la variable X1: 0.000
Porcentaje de nulos en la variable X5: 0.017
Porcentaje de nulos en la variable X6: 0.010
Porcentaje de nulos en la variable X7: 0.017
Porcentaje de nulos en la variable X8: 0.023
Porcentaje de nulos en la variable X9: 0.030
Porcentaje de nulos en la variable X10: 0.053
Porcentaje de nulos en la variable X12: 0.037
Porcentaje de nulos en la variable X13: 0.037
Porcentaje de nulos en la variable X14: 0.043
Porcentaje de nulos en la variable X15: 0.050
Porcentaje de nulos en la variable X16: 0.057
Porcentaje de nulos en la variable X17: 0.033
Porcentaje de nulos en la variable X18: 0.027
Porcentaje de nulos en la variable X19: 0.030
Porcentaje de nulos en la variable X20: 0.027
Porcentaje de nulos en la variable X21: 0.037
Porcentaje de nulos en la variable X22: 0.037
Porcentaje de nulos en la variable X23: 0.017

Con base en la información vista de nulos en las variables númericas a pesar de los sesgos de algunas variables, podemos concluir que sería correcto imputar la media en los valores nulos y lo comprobamos revisando el porcentaje de nulos.

In [ ]:
# X1, X5, X6, X7, X8, X9, X10, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23
data['X1'].fillna(value = data.X1.median(), inplace = True)
data['X5'].fillna(value = data.X5.median(), inplace = True)
data['X6'].fillna(value = data.X6.median(), inplace = True)
data['X7'].fillna(value = data.X7.median(), inplace = True)
data['X8'].fillna(value = data.X8.median(), inplace = True)
data['X9'].fillna(value = data.X9.median(), inplace = True)
data['X10'].fillna(value = data.X10.median(), inplace = True)
data['X12'].fillna(value = data.X12.median(), inplace = True)
data['X13'].fillna(value = data.X13.median(), inplace = True)
data['X14'].fillna(value = data.X14.median(), inplace = True)
data['X15'].fillna(value = data.X15.median(), inplace = True)
data['X16'].fillna(value = data.X16.median(), inplace = True)
data['X17'].fillna(value = data.X17.median(), inplace = True)
data['X18'].fillna(value = data.X18.median(), inplace = True)
data['X19'].fillna(value = data.X19.median(), inplace = True)
data['X20'].fillna(value = data.X20.median(), inplace = True)
data['X21'].fillna(value = data.X21.median(), inplace = True)
data['X22'].fillna(value = data.X22.median(), inplace = True)
data['X23'].fillna(value = data.X23.median(), inplace = True)

print('Porcentaje de nulos en la variable X1: %.3f' % (100*data['X1'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X5: %.3f' % (100*data['X5'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X6: %.3f' % (100*data['X6'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X7: %.3f' % (100*data['X7'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X8: %.3f' % (100*data['X8'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X9: %.3f' % (100*data['X9'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X10: %.3f' % (100*data['X10'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X12: %.3f' % (100*data['X12'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X13: %.3f' % (100*data['X13'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X14: %.3f' % (100*data['X14'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X15: %.3f' % (100*data['X15'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X16: %.3f' % (100*data['X16'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X17: %.3f' % (100*data['X17'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X18: %.3f' % (100*data['X18'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X19: %.3f' % (100*data['X19'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X20: %.3f' % (100*data['X20'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X21: %.3f' % (100*data['X21'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X22: %.3f' % (100*data['X22'].isnull().sum()/data['ID'].count()) )
print('Porcentaje de nulos en la variable X23: %.3f' % (100*data['X23'].isnull().sum()/data['ID'].count()) )

Porcentaje de nulos en la variable X1: 0.000
Porcentaje de nulos en la variable X5: 0.000
Porcentaje de nulos en la variable X6: 0.000
Porcentaje de nulos en la variable X7: 0.000
Porcentaje de nulos en la variable X8: 0.000
Porcentaje de nulos en la variable X9: 0.000
Porcentaje de nulos en la variable X10: 0.000
Porcentaje de nulos en la variable X12: 0.000
Porcentaje de nulos en la variable X13: 0.000
Porcentaje de nulos en la variable X14: 0.000
Porcentaje de nulos en la variable X15: 0.000
Porcentaje de nulos en la variable X16: 0.000
Porcentaje de nulos en la variable X17: 0.000
Porcentaje de nulos en la variable X18: 0.000
Porcentaje de nulos en la variable X19: 0.000
Porcentaje de nulos en la variable X20: 0.000
Porcentaje de nulos en la variable X21: 0.000
Porcentaje de nulos en la variable X22: 0.000
Porcentaje de nulos en la variable X23: 0.000