<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-team_59/blob/main/Act_Limpieza_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Semana 3 - Actividad 1

*Andrea Margarita Osorio González*

*A01104776*

*Ciencia y analítica de datos (Gpo 10)*

*Jobish Vallikavungal Devassia & Orlando Figón Cruz*

*29 de septiembre de 2022*


**Parte 1: Fundamentos de bases de datos**
Las bases de datos son bancos de información almacenada que fungen como almacenes de fuentes adversas de donde se recopila dicha información.
Esta información sirve para el análisis de toma de decisiones, sin embargo, para llevar a cabo este análisis se debe seguir un proceso científico de datos:
•	Definición del problema
•	Recolección de datos y preparación
•	Desarrollo e implementación de un modelo
•	Mejorar el rendimiento
Para lograr un conjunto de datos se debe realizar una limpieza y pre-procesamiento exhaustiva de la información para asegurar tener un conjunto de datos de calidad con información relevante que debe ser validada previa a lanzar un modelo.
El preprocesamiento consiste en transformar datos incomprensibles a comprensibles, en los datos que cuentan con discrepancias o errores, este proceso se lleva a cabo con la limpieza, transformación y reducción de datos.

**Parte 2: Selección y limpieza de los Datos en Python**
Act_Limpieza_Datos.ipynb - Colaboratory (google.com)
Se realizó una limpieza de datos, se recopiló la información vacía, se descartaron los datos con valores faltantes, se eliminaron los datos vacíos, se sustituyeron valores vacíos de acuerdo a los datos de la media de una misma variable, se eliminaron columnas y se sustituyeron nombres de columnas.


**Parte 3: Preparación de los datos**
1.	¿Qué datos considero más importantes? ¿Por qué?
Todos los datos con valores son importantes porque mejoran la calidad para el análisis y así se asegura el tener un análisis adecuado, sin embargo los datos relevantes siempre dependerán de las necesidades del análisis.


2.	¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?
En la primera parte se muestra un ejercicio en donde se eliminaron porque los datos nulos no nos sirven para hacer análisis de información tan fidedigna
En la segunda parte se reemplazaron los valores de acuerdo con la moda.
Esto con el objetivo de evitar resultados sesgados o conclusiones invalidas.


3.	¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?
Si para tener una mejor visión de los datos y poder analizarlos con un mejor entendimiento y permite una mejor capacidad de respuesta y un análisis efectivo.


4.	¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.
Si, se debe hacer una limpieza efectiva, transformación y reducción de datos faltantes  para mejorar el desempeño del proceso y contar con datos de calidad que permitan tomar decisiones más informadas y poder realizar el modelado correctamente.


5.	¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?
•	Revisión de datos nulos
•	Eliminar columnas 
•	Llenar/modificar valores
•	Cambiar nombres de columnas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x = {'Company': ['Ford', 'Ford', 'VW', 'BMW', 'Cooper', 'Cooper'], 
     'Stars' : [1, 2, np.nan, 2, 1, 1], 
     'Weight' : [2, 4, 2, 2, 3, None], 
     'Origin' : ['China', 'Mexico', 'Mexico', None, 'China', np.nan], 
     'Length': [40, 50, 30, np.nan, 45, pd.NaT]
}

In [ ]:
df  = pd.DataFrame(data = x)
df

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    NaN     2.0  Mexico     30
3     BMW    2.0     2.0    None    NaN
4  Cooper    1.0     3.0   China     45
5  Cooper    1.0     NaN     NaN    NaT

In [ ]:
df.to_csv("data.csv")

In [ ]:
df=pd.read_csv("/content/data.csv",index_col=0)
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
df.isnull().values.any()

True

In [ ]:
df.isnull().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [ ]:
df.isna().values.any()

True

In [ ]:
df.isna().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [ ]:
df.isna().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [ ]:
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isna().values.any()

False

In [ ]:
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
4  Cooper    1.0     3.0   China    45.0

In [ ]:
df=pd.read_csv("/content/data.csv",index_col=0)
df.isna().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [ ]:
ndf=df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
ndf.dropna(axis=1,inplace=True)
ndf

  Company
0    Ford
1    Ford
2      VW
3     BMW
4  Cooper
5  Cooper

In [ ]:
ndf=df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
ndf.dropna(how="all",inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
ndf=df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
ndf.dropna(thresh=4,inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0

In [ ]:
ndf=df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
ndf.dropna(thresh=5,
           axis=1,
           inplace=True)
ndf

  Company  Stars  Weight
0    Ford    1.0     2.0
1    Ford    2.0     4.0
2      VW    NaN     2.0
3     BMW    2.0     2.0
4  Cooper    1.0     3.0
5  Cooper    1.0     NaN

In [ ]:
SOLUCIÓN 2

In [ ]:
ndf=df.copy()

In [ ]:
wm=ndf.Weight.mean()
wm

2.6

In [ ]:
ndf["Weight"].fillna(value=wm,
                     inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     2.6     NaN     NaN

In [ ]:
ndf["Length"].fillna(value=ndf.Length.median(),
                     inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN    42.5
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     2.6     NaN    42.5

In [ ]:
mm=ndf.Origin.mode()
mm

0     China
1    Mexico
dtype: object

In [ ]:
mm[1]

'Mexico'

In [ ]:
ndf["Origin"].fillna(value=mm[1],
                     inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0  Mexico    42.5
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     2.6  Mexico    42.5

In [ ]:
ndf=df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
ndf.dropna(subset=["Origin","Length"],inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0

In [ ]:
ndf=df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
ndf.Origin.mode()[0]

'China'

In [ ]:
favs={"Origin":ndf.Origin.mode()[0],"Length":ndf["Length"].mean()}

In [ ]:
ndf.Origin.fillna(ndf.Origin.mode()[0],inplace=True)
ndf.Length.fillna(ndf.Length.mean(),inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China   40.00
1    Ford    2.0     4.0  Mexico   50.00
2      VW    NaN     2.0  Mexico   30.00
3     BMW    2.0     2.0   China   41.25
4  Cooper    1.0     3.0   China   45.00
5  Cooper    1.0     NaN   China   41.25

Mediana vs Media

In [ ]:
data={"Salary":[28,30,30,35,37,40,400]}
adf=pd.DataFrame(data)
adf

   Salary
0      28
1      30
2      30
3      35
4      37
5      40
6     400

In [ ]:
adf.describe()

           Salary
count    7.000000
mean    85.714286
std    138.653903
min     28.000000
25%     30.000000
50%     35.000000
75%     38.500000
max    400.000000

In [ ]:
df=pd.read_csv("/content/data.csv",index_col=0)
ndf=df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
ndf.columns

Index(['Company', 'Stars', 'Weight', 'Origin', 'Length'], dtype='object')

In [ ]:
ndf.columns.sort_values()

Index(['Company', 'Length', 'Origin', 'Stars', 'Weight'], dtype='object')

In [ ]:
ndf.loc[2:5,"Company":"Origin"]

  Company  Stars  Weight  Origin
2      VW    NaN     2.0  Mexico
3     BMW    2.0     2.0     NaN
4  Cooper    1.0     3.0   China
5  Cooper    1.0     NaN     NaN

In [ ]:
favs=["Stars","Weight","Origin"]

In [ ]:
ndf.loc[2:5,favs]

   Stars  Weight  Origin
2    NaN     2.0  Mexico
3    2.0     2.0     NaN
4    1.0     3.0   China
5    1.0     NaN     NaN

In [ ]:
ndf.iloc[2:5,[1,2,3]]

   Stars  Weight  Origin
2    NaN     2.0  Mexico
3    2.0     2.0     NaN
4    1.0     3.0   China

In [ ]:
ndf.columns

Index(['Company', 'Stars', 'Weight', 'Origin', 'Length'], dtype='object')

In [ ]:
for i in ndf.columns:
  print(i)

Company
Stars
Weight
Origin
Length

In [ ]:
ndf.head(4)

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN

In [ ]:
ndf.Company.unique()

array(['Ford', 'VW', 'BMW', 'Cooper'], dtype=object)

In [ ]:
df.groupby(["Company","Origin"]).size()

Company  Origin
Cooper   China     1
Ford     China     1
         Mexico    1
VW       Mexico    1
dtype: int64

In [ ]:
df[["Company","Origin"]].value_counts()

Company  Origin
Cooper   China     1
Ford     China     1
         Mexico    1
VW       Mexico    1
dtype: int64

Eliminar columnas/Cambiar nombre de columnas

In [ ]:
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [ ]:
ndf2=ndf.drop(["Stars","Origin",],axis=1)
ndf2

  Company  Weight  Length
0    Ford     2.0    40.0
1    Ford     4.0    50.0
2      VW     2.0    30.0
3     BMW     2.0     NaN
4  Cooper     3.0    45.0
5  Cooper     NaN     NaN

In [ ]:
ndf2.rename(columns={"Company":"Empresa","Weight":"Peso"},inplace=True)
ndf2

  Empresa  Peso  Length
0    Ford   2.0    40.0
1    Ford   4.0    50.0
2      VW   2.0    30.0
3     BMW   2.0     NaN
4  Cooper   3.0    45.0
5  Cooper   NaN     NaN

In [ ]:
ndf2.rename(columns={"Length":"Largo"},inplace=True)
ndf2

  Empresa  Peso  Largo
0    Ford   2.0   40.0
1    Ford   4.0   50.0
2      VW   2.0   30.0
3     BMW   2.0    NaN
4  Cooper   3.0   45.0
5  Cooper   NaN    NaN